@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #C3B59F;
}

nav{
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #E8F8C1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: sticky;
    font-family: "Playfair Display", serif;
}

.brand a{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.brand img{
    width: 88px;
    padding: 0 10px;
}



.navlinks{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navlinks a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 0 5px;
    cursor: pointer;
}

.navlinks a:hover{
    background-color: #C3B59F;
    border-radius: 10px;
    color: azure;
}

.img-container{
    position: relative;
    width: 100%;
    width: 215vh;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: azure;
    background-color: rgba(0, 0, 0, 0.45);
}

.overlay h1{
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.overlay h3{
    font-family: "Bodoni Moda", serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.overlay button{
    margin-top: 20px;
    padding: 12px 25px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    background-color: #FDE2FF;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.icons{
    display: flex;
    gap: 90px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.icons-items{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-family: "Bodoni Moda", serif;
    font-size: 1.5rem;
    white-space: nowrap;
}

.icon-item i {
    font-size: 1rem;
}

/* .icons i{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-style: normal;
    white-space: nowrap;
} */