@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E8F8C1;
}

nav {
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #E8F8C1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: sticky;
    font-family: "Playfair Display", serif;
}

.brand a {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.brand img {
    width: 88px;
    padding: 0 10px;
}

.navlinks {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navlinks a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 0 5px;
    cursor: pointer;
}

.navlinks a:hover {
    background-color: #d8928a;
    border-radius: 4px;
    color: azure;
}

.img-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: azure;
    background-color: rgba(0, 0, 0, 0.45);
}

.overlay h1 {
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.overlay h3 {
    font-family: "Bodoni Moda", serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.overlay button {
    margin-top: 20px;
    padding: 12px 25px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    background-color: azure;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay button:hover {
    color: black;
    background: #ebebeb;
    transform: translateY(-0.1px);
}

.icons {
    display: flex;
    gap: 90px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.icons-items {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-family: "Bodoni Moda", serif;
    font-size: 1.5rem;
    white-space: nowrap;
}

.icon-item i {
    font-size: 1rem;
}

.container {
    display: flex;
    align-items: stretch;
    gap: 10px;
    justify-content: space-between;
    padding: 40px 20px;
    background: #E8F8C1;
}

.text-content {
    flex: 1;
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: content;
    align-items: center;
    box-sizing: border-box;
}

.text-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.35rem;
    line-height: 1.9rem;
}

.read-more-btn {
    margin-top: 30px;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    background-color: azure;
    border-radius: 6px;
}

.read-more-btn:hover {
    color: black;
    background: #ebebeb;
    transform: translateY(0.1px);
}

.image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 40px;
}

.image-gallery {
    padding: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.image-items {
    font-size: 1.1rem;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.image-items img {
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.header {
    text-align: center;
    padding: 80px 10px;
}

.header h2 {
    font-size: 3rem;
    margin-top: 40px;
}

.header .subtitle {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 50px;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
}

.features-card {
    width: 45%;
    border: 2px solid #333;
    padding: 30px 20px;
    border-radius: 14px;
    text-align: center;
}

.features-card i {
    font-size: 40px;
    color: #c0392b;
    margin-bottom: 15px;
}

.features-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.features-card p {
    font-size: 14px;
    color: #333;
}

.cta-section {
    max-width: 900px;              
    margin: 80px auto;             
    padding: 70px 40px;
    text-align: center;

    background: white;           
    border-radius: 18px;
    box-shadow: 0 8px 22px rgba(0,0,0,0.8);
}

.cta-section h2{
    font-size: 38px;
    margin-bottom: 15px;
}

.cta-section p{
    font-size: 18px;
    margin-bottom: 35px;
    color: #333;
}

.cta-buttons{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.btn {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn.primary {
    background: #c0392b;
    color: #fff;
}

.btn.secondary {
    background-color: black;
    color: azure;
}

.btn.primary:hover {
    background: #a93226;
}

.btn.secondary:hover {
    background: #2c2828;
}

.contact-section{
    text-align: center;
    padding: 90px 20px;
}

.contact-section h2{
    font-size: 36px;
    margin-bottom: 10px;
}

.contact-section .caption{
    font-size: 16px;
    color: #666;
    margin-bottom: 50px;
}

.contact-grid{
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: nowrap;
}

.contact-card{
    background: white;
    padding: 35px 25px;
    width: 340px;
    border-radius: 14px;
    box-shadow: 0 8px 22px rgba(0,0,0,0.8);
}

.contact-card i{
    font-size: 34px;
    color: #c0392b;
    margin-bottom: 15px;
}

.contact-card h3{
    font-size: 20px;
    margin-bottom: 15px;
}

.contact-card p{
    font-size: 16px;
    color: #555;
    line-height: 1.6rem;
}

.footer{
    background: #1c1c1c;
    color: #ccc;
    padding: 60px 20px 20px;
    margin-top: 40px;
}

.footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer h3, .footer h4{
    color: #fff;
    margin-bottom: 15px;
}

.footer p{
    font-size: 14px;
    line-height: 1.6;
}

.footer-links ul{
    list-style: none;
    padding: 0;
}

.footer-links li{
    margin-bottom: 10px;
}

.footer-links a{
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links a:hover{
    color: #c0392b;
}

.footer-contact i{
    margin-right: 8px;
    color: #c0392b;
}

.footer-social{
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.footer-social a{
    color: #ccc;
    font-size: 18px;
    transition: 0.3s ease;
}

.footer-social a:hover {
    color: #c0392b;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 15px;
    font-size: 13px;
}

.footer-bottom .developer{
    font-size: 13px;
    color: #999;
    margin-top: 6px;
}

.footer-bottom .developer span{
    color: #c0392b;
    font-weight: 500;
}

@media (max-width: 768px){
    nav{
        position: static;
        top: auto;
        flex-direction: column;
        padding: 10px;
    }

    .navlinks{
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        margin-top: 10px;
    }

    .navlinks a{
        font-size: 16px;
    }

    .overlay h1{
        font-size: 2rem;
    }

    .overlay h3{
        font-size: 1.1rem;
    }

    .icons{
        flex-direction: column;
        gap: 20px;
    }

    .icons-items{
        font-size: 1.2rem;
    }

    .container{
        flex-direction: column;
        padding: 20px;
    }

    .text-content{
        padding: 20px;
        text-align: center;
    }

    .text-content h2{
        font-size: 2.2rem;
    }

    .text-content p{
        font-size: 1.1rem;
    }

    .image{
        justify-content: center;
        margin-top: 20px;
    }

    .image-gallery{
        flex-direction: column;
    }

    .image-items{
        width: 100%;
    }

    .features{
        flex-direction: column;
        gap: 25px;
    }

    .features-card{
        width: 100%;
    }

    .cta-section{
        padding: 40px 20px;
        margin: 40px 15px;
    }

    .cta-section h2{
        font-size: 26px;
    }

    .cta-buttons{
        flex-direction: column;
        gap: 20px;
    }

    .contact-grid{
        flex-direction: column;
        gap: 30px;
    }

    .contact-card{
        width: 100%;
    }

    .footer-container{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .footer-social{
        justify-content: center;
    }
}